.top{
    height: 50px;
    width: 500px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.middle{
    height: 50px;
    width: 500px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.bottom{
    height: 50px;
    width: 500px;
    display: flex;
    position: relative;
    justify-content: space-between;
}