.div1{
    text-align: center;
    border: 2px solid red;
    border-radius: 30px;
}

.div2{
    text-align: center;
    margin: 20px;
    border: 2px solid red;
    border-top-left-radius: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 10px;
}