.bodydiv{
    margin: 30px;
    height: 500px;
    width: 500px;
}

.first,.second{
    height: 40px;
    width: 40px;
    border: 2px solid black;
}
.firstrow,.fourthrow{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.secondrow,.thirdrow{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}